html {
  box-sizing: border-box;
  font-family: mostra-nuova, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
}

a {
  color: #6b544c;
  text-decoration: none;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
  background-color: #000;
  color: #fff;
  padding: .5em .75em;
}

.skip-links a:focus {
  top: 0;
}

.nav a:hover {
  color: #dfb78c;
}

ul {
  list-style-type: none;
  padding-bottom: 2rem;
}

.header h1 {
  font-family: mostra-nuova, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 3rem;
  color: #6b544c;
  justify-content: center;
  text-align: center;
}

header p {
  font-family: nobel, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 2rem;
  text-align: center;
  color: #6b544c;
}

main p {
  font-family: nobel, sans-serif;
  font-weight: 200;
  font-size: 1rem;
  font-style: normal;
  color: #6b544c;
}

h2 {
  font-family: mostra-nuova, sans-serif;
  font-weight: bold;
  text-align: center;
  color: #6b544c;
}

.shopbutton {
  text-decoration: none;
  border: 2px solid #6b544c;
  padding: .5em;
  border-radius: .2em;
  font-family: nobel, sans-serif;
  font-size: 1rem;
  color: #6b544c;
}

.button {
  display: flex;
  justify-content: center;
}

.shopbutton:hover {
  color: #dfb78c;
  border-color: #dfb78c;
}

li {
  font-family: mostra-nuova, sans-serif;
  font-weight: bold;
  color: #6b544c;
}

section {
  gap: 6vmin;
}

article {
  display: flex;
  flex-direction: column;
}

.purchase {
  display: flex;
  justify-content: center;
}

.purchasea {
  text-decoration: none;
  border: 2px solid #6b544c;
  padding: .5em;
  border-radius: .2em;
  font-family: nobel, sans-serif;
  font-size: 1.1rem;
}

.purchasea:hover {
  color: #dfb78c;
  border-color: #dfb78c;
}

main div {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.heritage p {
  display: flex;
  justify-content: center;
}

.aboutp {
  font-family: nobel, sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  padding-top: 0;
}

.bestsellers {
  font-size: 2rem;
  font-weight: bold;
  color: #6b544c;
  padding-top: 70px;
  padding-bottom: 0;
}

.chocolate {
  padding-bottom: 0;
  padding-top: 2rem;
}

.raspberry {
  padding-bottom: 0;
  padding-top: 2rem;
}

.danish {
  padding-bottom: 0;
  padding-top: 2rem;
}

.black {
  padding-bottom: 0;
  padding-top: 2rem;
}

.earlgrey {
  padding-bottom: 0;
  padding-top: 2rem;
}

.greentea {
  padding-bottom: 0;
  padding-top: 2rem;
}

.darkroast {
  padding-bottom: 0;
  padding-top: 2rem;
}

.mediumroast {
  padding-bottom: 0;
  padding-top: 2rem;
}

.decaf {
  padding-bottom: 0;
  padding-top: 2rem;
}

img {
  height: 300px;
  object-fit: cover;
  object-position: center;
  padding-bottom: .5rem;
}

.location {
  padding-top: 2rem;
}

.map p {
  font-weight: normal;
  color: #6b544c;
  text-align: center;
}

.abouth2 {
  padding-bottom: 0;
  margin-bottom: 0;
}

footer p {
  color: #6b544c;
  text-align: center;
  padding-top: 2rem;
}

.nav {
  opacity: 0;
}

.hours h3 {
  color: #6b544c;
  text-align: center;
}

.connected h3 {
  color: #6b544c;
  text-align: center;
}

.hours .time {
  padding-top: 0;
}

header img {
  width: 10%;
  height: auto;
  padding-top: .5rem;
}

.connected img {
  width: 5%;
  height: auto;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.socials img {
  margin-left: .5rem;
  margin-right: .5rem;
}

@media only screen and (min-width: 38em) {

  .connected img {
    width: 2%;
    height: auto;
  }

  .socials img {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  header img {
    width: 5%;
    height: auto;
  }

  .nav {
    opacity: 100;
    text-align: right;
  }

  li {
    list-style-type: none;
    display: inline-block;
    padding-right: 2rem;
    font-size: 1.3rem;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "heritage heritage"
      "beans tea";
  }

  .heritage {
    grid-area: heritage;
  }

  .beans {
    grid-area: beans;
  }

  .tea {
    grid-area: tea;
  }

  h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 6vmin;
  }

  h1 {
    display: flex;
    justify-content: center;
  }

  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  img {
    display: flex;
    justify-content: space-between;
  }

}
